@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Dosis:800);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$borderColor: #ccc;

body {
  font-family: 'Dosis', 'Noto Sans Japanese', 'メイリオ', Meiryo, sans-serif;
}
#ui {
  ul {
    width: 250px;
  }
  li {
    transition: 400ms;
    border: 1px solid $borderColor;
    overflow: hidden;
    margin-top: -1px;
    background: #fff;

    .title {
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
    .contents {
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      line-height: 200%;
    }
    .angry {
      position: absolute;
      width: 20px;
      height: 20px;
      margin: -50px 0 0 200px;
      border-radius: 0 0 100% 0;
      border-right: 4px solid red;
      border-bottom: 4px solid red;
      transform: scale(0);
      transition: 500ms;
      // transition: all 400ms cubic-bezier(0.000, 0.885, 1.000, 3) 800ms;

      &:before {
        content: "";
        position: absolute;
        left: 19px;
        top: 7px;
        width: 20px;
        height: 20px;
        border-radius: 0 0 100% 0;
        border-right: 4px solid red;
        border-bottom: 4px solid red;
        box-sizing: border-box;
        transform: rotate(120deg);
      }
      &:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 21px;
        width: 20px;
        height: 20px;
        border-radius: 0 0 100% 0;
        border-right: 4px solid red;
        border-bottom: 4px solid red;
        box-sizing: border-box;
        transform: rotate(241deg);
      }
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: 1px solid $borderColor;
    }
  }
  &.off {
    li:nth-child(2) {
      height: 50px;
    }
  }
  &.on {
    .angry {
      // transform: scale(1);
      animation: angryScale 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 600ms infinite;
    }
    li:nth-child(2) {
      animation: knockdown 4000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    li:nth-child(3) {
      color: red;
      animation: pressure 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 1200ms 3;
    }
  }
}

@keyframes angryScale {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(-1);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes pressure {
  0% {
    margin-top: -1px;
  }
  20% {
    margin-top: -1px;
  }
  100% {
    margin-top: 60px;
  }
}

@keyframes knockdown {
  0% {
    height: 50px;
  }
  15% {
    height: 350px;
  }
  50% {
    height: 350px;
  }
  52% {
    height: 250px;
  }
  70% {
    height: 250px;
  }
  72% {
    height: 150px;
  }
  90% {
    height: 150px;
  }
  92% {
    height: 20px;
  }
  100% {
    height: 50px;
  }
}