@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Monoton);

$transition: 500ms;

body {
  background: rgba(200, 200, 255, 0.2);
}
#ui {
  height: 10%;
  color: #fff;
  font-size: 36px;
  font-family: 'Monoton', cursive;
  transition: $transition;
  min-width: 100px;
  min-height: 80px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);

  &.on {
    width: 15%;
    background: rgba(50, 100, 250, 1);
    border-radius: 100px;
    border: 4px double rgba(255, 255, 255, 0.5);

    &:before {
      content: "OFF";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-500%, -50%);
      transition: $transition;
    }
    &:after {
      content: "ON";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
    }
  }
  &.off {
    width: 35%;
    background: rgba(0, 0, 100, 1);
    border-radius: 8px;
    border: 1px double rgba(255, 255, 255, 0);

    &:before {
      content: "OFF";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
    }
    &:after {
      content: "ON";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(500%, -50%);
      transition: $transition;
    }
  }
}