@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Dosis:800);

$transition: 500ms;
$delay: 100ms;

body {
  background: rgba(200, 200, 255, 0.2);
}
#ui {
  height: 10%;
  color: #fff;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  transition: $transition;
  transition-timing-function: ease-in-out;
  min-width: 100px;
  min-height: 80px;
  overflow: hidden;

  &.on {
    width: 110px;
    background: rgba(50, 100, 250, 1);
    border-radius: 100px;

    &:before {
      content: "OFF";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-500%, -50%);
      transition: $transition;
      transition-delay: $delay;
    }
    &:after {
      content: "ON";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
      transition-delay: $delay;
    }
  }
  &.off {
    width: 350px;
    background: rgba(0, 0, 100, 1);
    border-radius: 8px;

    &:before {
      content: "OFF";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
      transition-delay: $delay;
    }
    &:after {
      content: "ON";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(500%, -50%);
      transition: $transition;
      transition-delay: $delay;
    }
  }
}