@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Dosis:800);

$transition: 500ms;
$delay: 100ms;

body {
  background: rgba(200, 200, 255, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #d0c8c8), color-stop(0.00, #fff));
  background: -webkit-linear-gradient(#fff, #d0c8c8);
  background: -moz-linear-gradient(#fff, #d0c8c8);
  background: -o-linear-gradient(#fff, #d0c8c8);
  background: -ms-linear-gradient(#fff, #d0c8c8);
  background: linear-gradient(#fff, #d0c8c8);
}
#ui {
  width: 50px;
  height: 20px;
  background: #000;
  border-radius: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(109,8,8,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(109,8,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(109,8,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #fff;
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  perspective: 100px;

  div {
    position: absolute;
    left: 50%;
    top: -86px;
    width: 20px;
    height: 100px;
    margin-left: -10px;
    background: red;
    border-radius: 999px;
    transform-origin: 10px 90px;
    background: -moz-linear-gradient(left,  rgba(255,117,117,1) 0%, rgba(209,16,16,1) 40%, rgba(135,10,10,1) 81%, rgba(109,8,8,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,117,117,1) 0%,rgba(209,16,16,1) 40%,rgba(135,10,10,1) 81%,rgba(109,8,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,117,117,1) 0%,rgba(209,16,16,1) 40%,rgba(135,10,10,1) 81%,rgba(109,8,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    border-right: 2px solid rgba(50, 0, 0, 0.8);

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 3px;
      width: 4px;
      height: 85px;
      border-radius: 999px;
      background: rgba(255, 255, 255, 0.4);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      filter: blur(2px);
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left:0px;
      width: 15px;
      height: 12px;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.3);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      filter: blur(2px);
      transform: rotate(-30deg);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 80px;
    height: 16px;
    border-radius: 100%;
    background: rgba(50, 0, 0, 0.25);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    z-index: 0;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }
  &:after {
    content: "ON";
    position: absolute;
    transform: translate(59px, -13px) rotateZ(90deg) rotateY(-46deg);
    transition: 500ms;
  }

  &.off {
    div {
      transform: rotate(-30deg);
    }
    &:before {
      left: -20px;
    }
    &:after {
      color: black;
    }
  }
  &.on {
    div {
      transform: rotate(30deg);
    }
    &:before {
      left: 10px;
    }
    &:after {
      color: red;
      text-shadow: 0 0 3px orange;
    }
  }
}